* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #f57224;
  --whiteColor: #fff;
  --blackColor: #000;
  --lightDark: #222;
}

body {
  font-family: "Lato", sans-serif;
}

/*Navebar Styles*/
nav {
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 0 100px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 9999;
}

nav .right {
  text-align: right;
  width: 50%;
}

nav .left {
  text-align: left;
  width: 50%;
}

.left a {
  font-weight: 700;
  color: var(--mainColor);
  font-size: 21px;
}

nav ul {
  list-style: none;
}

nav ul a {
  text-decoration: none;
}

.shoppingCart i {
  font-size: 20px;
  display: inline-block;
  color: var(--lightDark);
  margin-right: 15px;
}

.cartCount {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: var(--mainColor);
  color: var(--whiteColor);
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  font-size: 12px;
}

/*Banner styles*/
.container {
  width: 100%;
  padding: 0 100px;
}

header {
  width: 100%;
  height: 250px;
  background: url("./assets/vegetables.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 70px;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0 105px;
  position: relative;
  color: #fff;
}

header .headerText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

header h1 {
  margin-bottom: 7px;
  font-size: 35px;
  text-transform: uppercase;
  color: #ffff;
}
/*Product styles*/
.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.product {
  width: 25%;
  padding: 0 12px;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
.hot {
  position: absolute;
  top: 0;
  background: orangered;
  padding: 5px 20px;
  color: var(--whiteColor);
}
.new {
  position: absolute;
  top: 0;
  background: greenyellow;
  padding: 5px 20px;
  color: var(--whiteColor);
}

.productImage {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.productImage img {
  width: 100%;
  height: 100%;
}
.productDetails {
  padding: 15px 10px;
  text-align: center;
  background: var(--whiteColor);
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
}
.productName {
  font-size: 20px;
  font-weight: 500;
  margin: 12px 0;
}
.productPrice {
  font-size: 20px;
  font-weight: 300;
  margin: 12px 0;
}
.addToCart {
  background: var(--mainColor);
  padding: 10px 20px;
  width: 100%;
  color: var(--whiteColor);
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
/* Not found styles */
.notFound {
  margin-top: 100px;
}
/* cart styles*/
.cartContainer {
  width: 100%;
  margin-top: 100px;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.cartDetails {
  width: 75%;
  border: 1px solid #fafafa;
  border-radius: 5px;
}
.cart {
  display: flex;
  align-items: center;
  background: var(--whiteColor);
  padding: 15px 20px;
}
.cartImage {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;
}
.cartImage img {
  width: 100%;
  height: 100%;
}
.cartproductname {
  width: 150px;
  display: inline-block;
  padding: 0 15px;
  font-weight: bold;
  font-size: 14px;
}
.cartproductprice {
  width: 120px;
  padding: 0 15px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color: var(--mainColor);
}
.inc {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid var(--mainColor);
  font-size: 14px;
  color: var(--mainColor);
  border-radius: 3px;
  cursor: pointer;
}
.productQuantity {
  display: inline-block;
  padding: 0 15px;
  font-size: 15px;
  width: 70px;
  text-align: center;
}
.dec {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid red;
  font-size: 14px;
  color: red;
  border-radius: 3px;
  cursor: pointer;
}
.productTotalPrice {
  display: inline-block;
  width: 170px;
  padding: 0 15px;
  text-align: center;
}
.delete {
  border: none;
  color: red;
  cursor: pointer;
}
/* cart summary*/
.cartsummary {
  width: 25%;
  padding: 0 0 0 20px;
  margin-top: 75px;
}
.summary {
  background: var(--whiteColor);
  padding: 13px;
  padding-bottom: 8px;
}
.summary h3 {
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #999;
  padding-bottom: 7px;
}
.totalitems {
  display: flex;
  margin: 15px 0;
}
.items {
  width: 20%;
  text-align: left;
  font-weight: normal;
}
.itemCount {
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: var(--mainColor);
}
.totalpricesection {
  display: flex;
  margin: 15px 0;
}
.justtitle {
  width: 50%;
  text-align: left;
  font-weight: normal;
}
.itemprice {
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: var(--mainColor);
}
/*purchase button style*/
.purchasebutton {
  background-color: var(--mainColor); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.purchasebutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.navbar {
  display: flex;
  align-items: center;

  background: rebeccapurple;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}
